<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>SPLITTING EIGHTS - 3D Interactive Software & Services | Demo Showcase</title>
        
        <!-- Google Webfonts and our stylesheet -->
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=PT+Sans+Narrow|Open+Sans:300" />
        <link rel="stylesheet" href="showcaseAssets/css/styles.css" />
        
        <!--[if lt IE 9]>
          <script src="https://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->
    </head>
    
    <body>